body {
    background-color: white;
    margin: 0;
    padding: 0;
    font: 16px/22px Gibson-Regular, Arial, Helvetica, sans-serif;
}

.footer {
    margin-top: 60px;
    border-top: 2px solid #e7e7e7;
    padding: 44px 0 0;

        @mixin social-icons {
            display: block;
            text-indent: -9999px;
            overflow: hidden;
            width: 30px;
            height: 30px;
            background-image: url('/wp_unigoblog/social-icons.png');
        }

        li {
            list-style: none;
            font-size: 15px;
            line-height: 24px;
        }
        h5 {
            text-transform: uppercase;
            color: #221f20;
            margin: 0 0 12px 15px;
            font: 18px Gibson-SemiBold, Arial, Helvetica, sans-serif;
            font-weight: 500;
        }
        #footer-logo {
            margin: 0 0 40px 3px;
        }
        #copyright_text {
            text-align: center;
            font: 11px/13px Helvetica, Arial, sans-serif;
            color: #b7b7b7;
            border-top: 2px solid #e7e7e7;
            padding: 15px 0 20px;
            top: 10px;
        }
        .social-networks {
            overflow: hidden;
            padding: 0 0 41px;  
        }
        .facebook {
            float: left;
            padding: 0 14px 0 0;
        }
        .facebook a {
            @include social-icons;
            background-position: 0 -37px;
        }
        .twitter a {
            @include social-icons;
            background-position: -44px -37px;
        }
}

#main {
    h2 a {
    color: #b7b7b7;
    font: 60px/67px Gibson-SemiBold, Arial, Helvetica, sans-serif;
    }
}

#top_link_list {
    background-color: white;
}




/* DROPDOWN NAV */
.cbp-hrmenu {
  width: 100%;
  margin-top: 10px;
}

/* general ul style */
.cbp-hrmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  
}


/* first level ul style */
.cbp-hrmenu > ul {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1.875em;
  background-color: white;
}

.cbp-hrmenu .cbp-hrsub-inner {
  width: 100%;
  max-width: 58em;
  margin: 0 auto;
  /*padding: 1em 1.875em;*/
}

.cbp-hrmenu > ul > li {
  display: inline-block;
  margin-left: -5px;
  background-color: white;
}

.cbp-hrmenu > ul > li > a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.1em 1em;
  color: #47a3da;
  display: inline-block;
  text-decoration: none;
  cursor: default;
}

.cbp-hrmenu > ul > li > a:hover {
  color: #fff;
  background: #221f20;
}

/* sub-menu */
.cbp-hrsub {
  display: none;
  padding-bottom: 2em;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 3333333;
}

ul li:hover .cbp-hrsub {
  color: #fff;
  display: block;
  background: #221f20;
}

.cbp-hrmenu > ul > li:hover a {
  color: #fff;
  display: block;
  background: #221f20;
  z-index: 3333333333;
}


.cbp-hrmenu .cbp-hrsub-inner > div a {
  padding: 1em 0.5em 0;
  color: #fff;
  font-size: 0.90em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.cbp-hrsub-inner > div a:hover {
  text-decoration: underline;
}


/* NEW CODE FOR ALIGNING SUB-MENU ITEMS */
.dd2 > div {
  margin-left: 162px;
}

.dd3 div {
  float: left;
}

.dd3 > div:nth-child(1) {
  margin-left: 328px;
}


.dd3 > div:nth-child(2) {
  margin-left: 650px;
  position: absolute;
}

.dd4 > div:nth-child(1) {
  margin-left: 510px;
}


.dd5 > div:nth-child(1) {
   margin-left: 675px;
}

/* HACKS FOR IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .dd4 > div:nth-child(1) {
            ul {
                margin: 0 0 0 .5rem !important;
            }
    }
}  

/* HACKS FOR IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .dd5 > div:nth-child(1) {
            ul {
                margin: 0 0 0 .5rem !important;
            }
    }
}  