//* scss-compile-options: --style compact
$img_background_logo:		url(/content/images/logo.png);
$img_background_hero:		url(/content/images/home_header_bg.jpg);
$img_background_blueBokeh:  url('/content/images/background_blueBokeh.jpg');

$img_icon_plusu_shield:		url(/content/images/iconShield.png);
$img_icon_sprite_tiles:		url('/content/images/iconSprite_tiles.png');


$img_icon_arrow_right:		url('/content/images/icons/arrow-right.png');
$svg_icon_grid_3_up:		url('/content/images/icons/grid-three-up.min.svg');
$svg_icon_list_view:		url('/content/images/icons/list.min.svg');
$svg_icon_grid_3_up_white:		url('/content/images/icons/grid-three-up-white.min.svg');
$svg_icon_list_view_white:		url('/content/images/icons/list-white.min.svg');


