#container_12 {
    width: 1024px;
    background-color: white;
}
.menu-sign_in_nav-container li {
    text-decoration: none;
}
#signin_nav {
    background-color: #fdb913;
}
#signup_nav {
    background
}
