//* scss-compile-options: --style compact
@mixin box_shadow ($h-shadow: 0px, $v-shadow: 2px, $blur: 2px, $spread: 0px, $color: $text_base, $rgbaColor: $text_base_rgba_65) {
	-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
	box-shadow: $h-shadow $v-shadow $blur $spread $color;
	-webkit-box-shadow: $h-shadow $v-shadow $blur $spread $rgbaColor;
    box-shadow: $h-shadow $v-shadow $blur $spread $rgbaColor;
  }

@mixin shadow_Text ($a: 0, $b: 1px, $c: 2px, $color: $border_base){
	text-shadow: $a $b $c $color;
}

@mixin border_radius($radius: 5px){
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin border_radius_top($radius: 5px){
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin border_radius_bottom($radius: 5px){
-webkit-border-bottom-left-radius: $radius;
-webkit-border-bottom-right-radius: $radius;
-moz-border-radius-bottomleft: $radius;
-moz-border-radius-bottomright: $radius;
border-bottom-left-radius: $radius;
border-bottom-right-radius: $radius;
}



//* FONTS
@mixin declare-font-face($font-family, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("#{$path}.eot");
		src: url("#{$path}.eot?#iefix") format("embedded-opentype"), url("#{$path}.woff") format("woff"), url("#{$path}.ttf") format("truetype"), url("#{$path}.svg##{$font-family}") format("svg");
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}



@mixin border_bottom_light ($color: $border_base){
	border-bottom: solid 1px lighten($color, 50%);
}

@mixin light_gradient(){
    background: #f7f7f7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 80%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(80%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 80%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 80%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 80%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 80%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}    

@mixin transformBase($property: all, $duration: .25s){
    transition: $property $duration ease-in-out;
   -moz-transition: $property $duration ease-in-out;
   -webkit-transition: $property $duration ease-in-out;
}